@font-face {
  font-family: Impacto;
  font-weight: lighter;
  src: url("../public/fonts/impact.ttf"), url("../public/fonts/Impacted.ttf"),
    url("../public/fonts/unicode.impact.ttf");
}

html,
body {
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}
* {
  font-family: Impacto, Impact, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
